* {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  height: 50%;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.chat-container {
  height: 70vh;
  width: 80vw;
  margin-top: 2rem;
  padding: 1rem;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.chat-container::-webkit-scrollbar {
  display: none;
}

/* chat css */
.chat-values {
  margin-left: 1.5rem;
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}
.audio-chat {
  cursor: pointer;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
.bot {
  display: flex;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  flex-direction: column;
  color: rgb(38, 196, 169);
}
.bot-response {
  display: flex;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.left {
  display: flex;
  width: 7vw;
  margin-right: 1rem;
}
.right {
  display: flex;
  width: 70vw;
  text-align: justify;
  /* text-align: left; */
}

.user-text {
  display: flex;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  flex-direction: column;
}
